@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
  }

:root {
    --text-700: #6E7C94;
    --blue-700: #1F3E72;
    --blue-500: #2F4FCD;
    --blue-100: #F1F5FF;
    --yellow-500: #FFD012;
    --yellow-100: #FFFCF0;
    --white: #fff;


    --ff-m:'Montserrat';
    --ff-p:'Poppins';

    --fw-m-n: 400;
    --fw-m-m: 500;
    --fw-m-sb: 600;
    --fw-m-b: 700;
    --fw-m-xb: 800;

    --fw-p-l: 300;
    --fw-p-sl: 400;
    --fw-p-n: 500;
    --fw-p-sb: 600;

    --fs-xs:calc(var(--fs-n)*.90);
    --fs-n: 17px;
    --fs-m: calc(var(--fs-n)*1.17);
    --fs-sh: calc(var(--fs-n)*1.3);
    --fs-b: calc(var(--fs-n)*2);
    --fs-display: calc(var(--fs-n)*3.3);

    --lh-xs:calc(var(--fs-n)*1.7);
    --lh-n: 29px;
    --lh-m: calc(var(--fs-n)*1.5);
    --lh-sh: calc(var(--fs-sh)*1.22);
    --lh-b: calc(var(--fs-b)*1.5);
    --lh-display: calc(var(--fs-display)*1.2);

    --lts-display: -1.25;
    --lts-n: .25px;

    --isz-xs: 16px;
    --isz-s: 18px;
    --isz-m: 20px;
    --isz-b: 32px;
    --isz-xb: 34px;
    --isz-xxb: 54px;

    --br: 6px

}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
    padding: 102px 126px;
    
}

.col{
    
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.align-flex-start{
    align-items: flex-start;
}




.heroSect{
    position: relative;
    width: 1356px;
    height: 814px;
}

.twocol{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.content{
    padding: 102px 126px;

    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;

}

.heroText{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 450px ;
    height: 239px;

    order: 0;
    flex-grow: 0;
    margin: 10px 0px 30px 0px;
}

.hIcons{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0px;

    order: 2;
    flex-grow: 0;
    margin: 36px 0px;

}

.heroAward{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 36px 0px;
}

.iconWrapper{

    height: 30px;
    width: 30px;
}

.heroIcon{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: rgba(255, 208, 18, 0.1);
    border: 1px solid var(--white);
    box-sizing: border-box;
    backdrop-filter: blur(16px);
    border-radius: var(--br);

}

.icon-small{
    height: var(--isz-s);
    width: var(--isz-s);
}



.shadow{
    
    position: absolute;
    width: 18px;
    height: 9px;
    left: calc(50% - 18px/2);
    bottom: 0px;
    
    box-sizing: border-box;
    filter: blur(8px);
    border-radius: var(--br);
}

.shadow-yellow{
    background: var(--yellow-500);
}
.shadow-blue{
    background: var(--blue-500);
}

h1{

    font-family: var(--ff-m);
    font-weight: var(--fw-m-xb);
    font-size: var(--fs-display);
    line-height: var(--lh-display);
    display: flex;
    align-items: center;
    letter-spacing: var(--lts-display);

    text-transform: capitalize;

    color: var(--blue-700);

    margin: 36px 0px;

}

p{
    font-family: var(--ff-p);
    font-weight: var(--fw-p-n);
    font-size: var(--fs-n);
    line-height: var(--lh-n);
    display: flex;
    align-items: center;
    letter-spacing: var(--lts-n);

    color: var(--text-700);
    margin: 0px;
}

.heroCopy{
    font-family: var(--ff-p);
    font-weight: var(--fw-p-n);
    font-size: var(--fs-n);
    line-height: var(--lh-n);
    display: flex;
    align-items: center;
    letter-spacing: var(--lts-n);

    color: var(--text-700);
}

.subheadWrapper{
    gap: 8px;
}



.awText{

    font-family: var(--ff-p);
    font-weight: var(--fw-p-n);
    font-size: var(--fs-xs);
    line-height: var(--lh-xs);
    display: flex;
    align-items: center;

    color: var(--blue-700);

    margin: 0px 12px;


}
.tworow{
    display: flex;
    
}

.cardWrapper{
    display: flex;
}


.sideImg{
    width: 685px;
    height: 814px;
    background: linear-gradient(145.25deg, #0998E6 0%, #3760DA 100%);
}


/* .factBg{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;

    position: absolute;
    width: 916px;
    height: 140px;
    left: 0px;
    top: 0px;

    background: rgba(255, 255, 255, 0.85);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(24px);

    border-radius: 8px;
} */

.factsContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: auto;
    height: auto;
    left: 132px;
    bottom: 31px;

}

.InfoWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px  32px;
    gap:113px;

    /* position: absolute;
    width: auto;
    height: 68px;
    left: 31px;
    top: 37px; */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: auto;

    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    backdrop-filter: blur(24px);
     /* Note: backdrop-filter has minimal browser support */ 

     border-radius: 8px;

     z-index: 1;

    }

.factWrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

}

.fact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 177px;
    height: 68px;
    left: 210px;
    top: 0px;
    gap:8px;



    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;

}

.factTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.factIcon{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: rgba(234, 241, 254, 0.85);;
    border: 1px solid var(--white);
    box-sizing: border-box;
    backdrop-filter: blur(16px);
    border-radius: var(--br);
}


.factText{
    font-family: var(--ff-m);
    font-weight: var(--fw-m-sb);
    font-size: var(--fs-n);
    line-height: var(--lh-xs);

    color: var(--blue-700);
    margin-left: 40px;
}

.factTxtwrapper{
    /* margin: 0px; */
    margin-left: 80px;
}

.btnMain{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px ;

    position: static;
    /* width: 146px;
    height: 54px; */
    /* left: 696px; */
    top: 7px;

    background: #2949C7;
    border-radius: 3px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    /* margin: 0px 113px; */
}
.btnText{
    font-family: var(--ff-m);
    font-weight: var(--fw-m-n);
    font-size: var(--fs-n);
    color: var(--blue-100);
    border: none;
}

.factShadow{
    position: absolute;
    width: 80%;
    height: 35px;
    left: 39px;
    top: 131px;

    background: rgba(47, 79, 205, 0.75);
    filter: blur(48px);
    border-radius: 8px;

    
    /* box-shadow: 0px 32px 58px -33px rgba(41,73,199,1); */
    /* -webkit-box-shadow: 0px 32px 58px -33px rgba(41,73,199,1);
    -moz-box-shadow: 0px 32px 58px -33px rgba(41,73,199,1); */

}

.bigIconWrapper{
    height: 54px;
    width: 54px;
}

.cardIcn{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: rgba(234, 241, 254, 0.85);;
    border: 1px solid var(--white);
    box-sizing: border-box;
    backdrop-filter: blur(16px);
    border-radius: var(--br);

}

.icon-big{
    height: var(--isz-xb);
    width: var(--isz-xb);
}

/* 
.fcard{
    Background styles
} */
/* body {
    background-color: #50E3C2;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(198.00, 100%, 50%) 0, transparent 55%);
} */

/* Glassmorphism card effect */
/* .card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
} */

/* Generated by https://generator.ui.glass/ */
